$myFont:Helvetica,sans-serif;
$myFontSize:18px;

*{
    margin: 0;
    padding: 0;
}
body{
    font: {
        family:$myFont;
        size: $myFontSize;

    }
    .pass-paragraph{
        margin: 5px;
    }
}

.button-basic{
    border: 2px;
    padding: 5px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
   
}

.button-submit{
    @extend .button-basic;

    margin-top: 10px;
    
    
}